PORT=8086
LOG_LEVEL=info
POSTGRES_USER=payment_user
POSTGRES_PASSWORD=YOUR_PASSWORD
POSTGRES_DB=payment_db
DATABASE_URL=postgres://payment_user:YOUR_PASSWORD@localhost:5436/payment_db?sslmode=disable
JWT_SECRET=YOUR_SECRET_KEY_HERE
STRIPE_SECRET_KEY=
